body {
    font-family: Arial, sans-serif;
    background-color: #fddbb4;
    margin: 0;
    padding: 0 20px 100px;
}

header {
    background-color: #c9492f;
    padding: 10px 20px;
}

header h1 {
    color: white;
    margin: 0;
}

#main-nav {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    background-color: #e77a5f;
    margin: 0;
    padding: 10px 20px;
}

nav li a {
    text-decoration: none;
    padding: 6px 10px;
    color: white;
    background-color: #bd4931;
    border-radius: 4px;
}

nav li a:hover {
    background-color:#9d3b27;
}

main {
    padding: 20px;
    text-align: center;
}

.button-group {
    margin: 20px 0;
}

.nav-btn {
    background-color: #ff3e57;
    color: white;
    border: 4px solid #00d9ff;
    font-size: 1.2rem;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.quote-card {
    background-color: white;
    border: 2px solid gray;
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.audio-controls {
    background-color: #006837;
    color: white;
    padding: 20px;
    max-width: 700px;
    margin: 30px auto;
    border-radius: 10px;
}

.audio-controls h3 {
    margin-top: 0;
}

.audio-controls ul {
    text-align: left;
    margin: 10px 0 20px;
}

.audio-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}